.clock {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.clock > span {
    font-size: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
    padding-bottom: 30px;
}